@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&family=Inter:wght@300;400;500;600;700&display=swap');
@import url("variables.css");

/* ================= RESET ================= */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}

/* ================= BODY ================= */
body{
    font-family: var(--font-display);
    color: var(--color-neutral-light);
    background-color: var(--color-primary-background);
 
}

/* =========== SOCIAL BAR =========== */
.social-bar{
    position:fixed;
    top:80%;
    right:0;
    transform:translateY(-50%);
    z-index:9999;
}
.insta-btn, .github-btn, .linkedin-btn, .x-btn, .up-arrow{
    display: block;
    width: 40px;
    height: 40px;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
    margin-right: 5px;
    transition: background-color 0.3s ease;
}
.insta-btn{
    background-image: url("https://img.icons8.com/?size=100&id=zezJrErrmcwx&format=png&color=000000");
}
.github-btn{
    background-image: url("https://img.icons8.com/?size=100&id=bVGqATNwfhYq&format=png&color=000000");
}
.linkedin-btn{
    background-image: url("https://img.icons8.com/?size=100&id=xuvGCOXi8Wyg&format=png&color=ffffff");
}
.x-btn{
    background-image: url("https://img.icons8.com/?size=100&id=bG29Ckcdp6YP&format=png&color=000000");
}
